.wrapper {
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-right: 50px;
}
.NavLink {
  text-decoration: none;
}
.button {
  margin-left: 50px;
}
