.wrapper {
  /* border: 1px solid black; */
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  color: #035fa2;
}
.logo-wrapper {
  width: 227px;
  height: 82.15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 181px;
  height: 82.15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
