.logoImage {
  width: 80%;
  height: auto;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.active{
  text-decoration: none;
  color: #035FA2;
  cursor: pointer;
}

.wrapper{
  text-decoration: none;
  padding: 12px 24px 12px 24px;
  width: 90%;
}

.wrapper:active{
background-color: #ffffff;
  border-radius: 7px;
}